@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-tamarillo-50: #fef2f2;
    --color-tamarillo-100: #ffe1e2;
    --color-tamarillo-200: #ffc8c9;
    --color-tamarillo-300: #ffa2a4;
    --color-tamarillo-400: #fd6c6f;
    --color-tamarillo-500: #f53e42;
    --color-tamarillo-600: #e22024;
    --color-tamarillo-700: #be171b;
    --color-tamarillo-800: #a0171a;
    --color-tamarillo-900: #821a1c;
    --color-tamarillo-950: #470809;

    --color-accent: var(--color-zinc-700);
    --color-accent-content: var(--color-tamarillo-100);
    --color-accent-foreground: var(--color-zinc-50);
}

@layer theme {
    .dark {
        --color-accent: var(--color-tamarillo-400);
        --color-accent-content: var(--color-zinc-50);
        --color-accent-foreground: var(--color-zinc-50);

        --color-zinc-50: #fafafa;
        --color-zinc-100: #f5f5f5;
        --color-zinc-200: #e5e5e5;
        --color-zinc-300: #d4d4d4;
        --color-zinc-400: #a3a3a3;
        --color-zinc-500: #737373;
        --color-zinc-600: #525252;
        --color-zinc-700: #404040;
        --color-zinc-800: #262626;
        --color-zinc-900: #171717;
        --color-zinc-950: #0a0a0a;

        --color-tamarillo-50: #fef2f2;
        --color-tamarillo-100: #ffe1e2;
        --color-tamarillo-200: #ffc8c9;
        --color-tamarillo-300: #ffa2a4;
        --color-tamarillo-400: #fd6c6f;
        --color-tamarillo-500: #f53e42;
        --color-tamarillo-600: #e22024;
        --color-tamarillo-700: #be171b;
        --color-tamarillo-800: #a0171a;
        --color-tamarillo-900: #821a1c;
        --color-tamarillo-950: #470809;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* .hero-section {
    position: relative;
    background-color: #a3a3a3;
    clip-path: path("M 60,10 Z");
} */

.semaforo_card {
    position: relative;
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.nivel_reserva {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color: var(--color-zinc-50);
    width: auto;
    bottom: 30%;
}